@media only screen and (max-width: 360px) {
    .servicios__uruguay {
        display: flex;
    }



    .servicios__uruguay_container {
        background: var(--Surface-Surface-brand, #FF7500);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;

        padding: 20px 0px 30px 0px;

        margin-bottom: 20px;

    }

    .servicios__uruguay_title {
        color: var(--Text-Text-blanco, #FFF);
        text-align: center;
        font-family: "Simply Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .servicios__uruguay_description {
        display: none;
    }

    .servicios__uruguay_items_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
        position: relative;
    }

    .servicios__uruguay_item {
        display: flex;
        width: 340px;
        height: 190px;
        justify-content: center;
        align-items: center;
        gap: 20px;

        border-radius: 10px;
        background: var(--Surface-Surface-default, #FFF);

        position: relative;
    }

    .servicios__uruguay_imgs {
        position: absolute;
        left: 10px;
        transform: scale(0.8);
    }

    .servicios__uruguay_imgsDesfasadas {
        position: absolute;
        left: -10px;
        transform: scale(0.8);
    }

    .servicios__uruguay_h3_container {
        /* border: 1px solid black; */
        display: flex;
        width: 135px;
        height: 16px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 148.5px;
    }

    .servicios__uruguay_item h3 {

        color: #FF7500;
        text-align: center;
        font-family: "Mulish";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 108.523%;
        /* 16.278px */
    }

    .servicios__uruguay_p {
        /*  border: 1px solid black; */

        width: 212px;
        height: 105px;

        position: absolute;
        top: 60px;
        left: 110px;

        color: #414141;
        text-align: center;
        font-family: "Karla";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 125.523%;
        /* 15.063px */
    }

    .servicios__uruguay_item_p_software {
        /* border: 1px solid black; */

        width: 212px;
        height: 105px;

        position: absolute;
        top: 40px;
        left: 100px;

        color: #414141;
        text-align: center;
        font-family: "Karla";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 125.523%;
        /* 15.063px */
    }






    /* ----------------------------------------------------------------------------------------------------------------------------------------------- */








    .cuponera-uruguay {
        padding: 20px 0px 30px 0px;
    }

    .cuponera-uruguay__title {
        color: var(--Text-Text-naranja, #FF7500);
        text-align: center;
        font-family: "Simply Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cuponera-uruguay__item {
        border-radius: 10px;
        background: var(--Surface-Surface-default, #FFF);
        box-shadow: 0px 4px 39px -4px rgba(0, 0, 0, 0.15);

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "item1 item1"
            "item2 item3"
            "item4 item4";
        justify-items: center;

        padding: 20px 0px;
    }

    .cuponera-uruguay__item-image {
        grid-area: item2;
        transform: scale(0.8);
    }

    .cuponera-uruguay__item-content {}

    .cuponera-uruguay__item-title {
        grid-area: item1;
        color: #FF7500;
        text-align: center;
        font-family: "Museo Sans Rounded";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 108.523%;
        /* 23.875px */
    }

    .cuponera-uruguay__item-description {
        grid-area: item3;

        width: 182px;

        color: #414141;
        font-family: "Karla";
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 125.523%;
        /* 12.552px */
    }

    .cuponera-uruguay__item-link-wrapper {
        grid-area: item4;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 135px;
        height: 30px;

        border-radius: 5px;
        background: var(--Nasanja-Soydelivery, #FF7500);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .cuponera-uruguay__item-link {
        color: var(--Text-Text-negative, #FFF);
        font-family: "Karla";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        /* 140% */

        text-decoration: none;
    }


}