/* header {
    background-color: #FF7500;
    display: flex;
    justify-content: space-around;
} */

.header-global {
    display: flex;
    justify-content: space-around;
    background-color: #FF7500;
}


.header-paraguay {
    display: flex;
    justify-content: space-around;
}

.nav-paraguay {
    display: flex;
}


.header-peru {
    background-color: #FF7500;

}

.nav-peru {
    display: flex;
    justify-content: space-around;
}